## Aperçu sur le Filtrage

* Le filtrage peut être effectué soit en utilisant `filter` ou `where`. Ce sont comme des synonymes les uns des autres.
* En ce qui concerne la condition, nous pouvons soit la transmettre en **style SQL** ou en **style Data Frame**. 
* Exemple de style SQL - `df.filter("Ville = 'PARIS'").show() or df.where("Ville = 'PARIS'").show()`
* Example de style Data Frame - `df.filter(df("Ville") === 'PARIS').show()`. Nous pouvons également utiliser where au lieu de filter.
* Voici les autres opérations que nous pouvons effectuer pour filtrer les données - `!=`, `>`, `<`, `>=`, `<=`, `LIKE`, `BETWEEN` avec `AND`
* Si nous devons filtrer sur plusieurs colonnes, nous devons utiliser des opérations booléennes telles que `AND` et `OR` (style SQL) ou `&&` et `||` (style Data Frame).
* Si nous devons comparer chaque valeur de colonne avec plusieurs valeurs, nous pouvons utiliser l'opérateur `in` (style SQL) ou `isin` (style Data Frame).

In [1]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.
    builder.
    appName("Filtering Column Data").
    master("local[*]").
    getOrCreate

spark = org.apache.spark.sql.SparkSession@56d8757a

org.apache.spark.sql.SparkSession@56d8757a

Voici un exemple de création de Data Frame à l'aide d'une collection d'employés. Nous utiliserons ce Data Frame pour explorer toutes les fonctions de filtrage des données des colonnes.

In [3]:
val employees = List((1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     ),
                     (5, "Martin", "Dupont", 1200.0, 
                      "united states", "+1 123 433 1290", "321 98 3490"
                     ),
                     (6, "Harry", "Fox", 1180.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (7, "Ronald", "Junior", 1750.0, 
                      "AUSTRALIA", "+61 215 175 1631", "444 33 2222"
                     ),
                     (8, "James", "King", 2500.0, 
                      "AUSTRALIA", "+61 382 998 1113", "538 21 1987"
                     )
                    )

employees = List((1,Scott,Tiger,1000.0,united states,+1 123 456 7890,123 45 6789), (2,Henry,Ford,1250.0,India,+91 234 567 8901,456 78 9123), (3,Nick,Junior,750.0,united KINGDOM,+44 111 111 1111,222 33 4444), (4,Bill,Gomes,1500.0,AUSTRALIA,+61 987 654 3210,789 12 6118), (5,Martin,Dupont,1200.0,united states,+1 123 433 1290,321 98 3490), (6,Harry,Fox,1180.0,India,+91 234 567 8901,456 78 9123), (7,Ronald,Junior,1750.0,AUSTRALIA,+61 215 175 1631,444 33 2222), (8,James,King,2500.0,AUSTRALIA,+61 382 998 1113,538 21 1987))

List((1,Scott,Tiger,1000.0,united states,+1 123 456 7890,123 45 6789), (2,Henry,Ford,1250.0,India,+91 234 567 8901,456 78 9123), (3,Nick,Junior,750.0,united KINGDOM,+44 111 111 1111,222 33 4444), (4,Bill,Gomes,1500.0,AUSTRALIA,+61 987 654 3210,789 12 6118), (5,Martin,Dupont,1200.0,united states,+1 123 433 1290,321 98 3490), (6,Harry,Fox,1180.0,India,+91 234 567 8901,456 78 9123), (7,Ronald,Junior,1750.0,AUSTRALIA,+61 215 175 1631,444 33 2222), (8,James,King,2500.0,AUSTRALIA,+61 382 998 1113,538 21 1987))

In [4]:
val employeesDF = employees.
    toDF("employee_id", "first_name",
         "last_name", "salary",
         "nationality", "phone_number",
         "ssn"
        )

employeesDF = [employee_id: int, first_name: string ... 5 more fields]

[employee_id: int, first_name: string ... 5 more fields]

In [6]:
employeesDF.show

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          5|    Martin|   Dupont|1200.0| united states| +1 123 433 1290|321 98 3490|
|          6|     Harry|      Fox|1180.0|         India|+91 234 567 8901|456 78 9123|
|          7|    Ronald|   Junior|1750.0|     AUSTRALIA|+61 215 175 1631|444 33 2222|
|          8|     James|     King|2500.0|     AUSTRALIA|+61 382 998 1113|538 21 1987|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [7]:
employeesDF.printSchema

root
 |-- employee_id: integer (nullable = false)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: double (nullable = false)
 |-- nationality: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- ssn: string (nullable = true)

* Liste des employés ayant la nationalité 'AUSTRALIA'

In [8]:
// SQL Style
employeesDF.filter("nationality = 'AUSTRALIA'").show

+-----------+----------+---------+------+-----------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----------+----------------+-----------+
|          4|      Bill|    Gomes|1500.0|  AUSTRALIA|+61 987 654 3210|789 12 6118|
|          7|    Ronald|   Junior|1750.0|  AUSTRALIA|+61 215 175 1631|444 33 2222|
|          8|     James|     King|2500.0|  AUSTRALIA|+61 382 998 1113|538 21 1987|
+-----------+----------+---------+------+-----------+----------------+-----------+

In [30]:
// DataFrame Style
import org.apache.spark.sql.functions.col

employeesDF.filter(employeesDF("nationality") === "AUSTRALIA").show

+-----------+----------+---------+------+-----------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----------+----------------+-----------+
|          4|      Bill|    Gomes|1500.0|  AUSTRALIA|+61 987 654 3210|789 12 6118|
|          7|    Ronald|   Junior|1750.0|  AUSTRALIA|+61 215 175 1631|444 33 2222|
|          8|     James|     King|2500.0|  AUSTRALIA|+61 382 998 1113|538 21 1987|
+-----------+----------+---------+------+-----------+----------------+-----------+

In [12]:
// Utilisation de where
employeesDF.where(employeesDF("nationality") === "AUSTRALIA").show

+-----------+----------+---------+------+-----------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----------+----------------+-----------+
|          4|      Bill|    Gomes|1500.0|  AUSTRALIA|+61 987 654 3210|789 12 6118|
|          7|    Ronald|   Junior|1750.0|  AUSTRALIA|+61 215 175 1631|444 33 2222|
|          8|     James|     King|2500.0|  AUSTRALIA|+61 382 998 1113|538 21 1987|
+-----------+----------+---------+------+-----------+----------------+-----------+

* Liste des employés ayant la nationalité 'AUSTRALIA' et un salaire > à 2000

In [13]:
// SQL Style
employeesDF.filter("nationality = 'AUSTRALIA' AND salary > 2000").show

+-----------+----------+---------+------+-----------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----------+----------------+-----------+
|          8|     James|     King|2500.0|  AUSTRALIA|+61 382 998 1113|538 21 1987|
+-----------+----------+---------+------+-----------+----------------+-----------+

In [39]:
// DataFrame Style
employeesDF.filter(col("nationality") === "AUSTRALIA" && col("salary")>2000).show

+-----------+----------+---------+------+-----------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----------+----------------+-----------+
|          8|     James|     King|2500.0|  AUSTRALIA|+61 382 998 1113|538 21 1987|
+-----------+----------+---------+------+-----------+----------------+-----------+

In [15]:
// DataFrame Style
employeesDF.filter($"nationality" === "AUSTRALIA" && $"salary" > 2000).show

+-----------+----------+---------+------+-----------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----------+----------------+-----------+
|          8|     James|     King|2500.0|  AUSTRALIA|+61 382 998 1113|538 21 1987|
+-----------+----------+---------+------+-----------+----------------+-----------+

* Liste des employés ayant la nationalité 'AUSTRALIA' et 'India'

In [16]:
// SQL Style
employeesDF.filter("nationality = 'AUSTRALIA' OR nationality = 'India' ").show

+-----------+----------+---------+------+-----------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----------+----------------+-----------+
|          2|     Henry|     Ford|1250.0|      India|+91 234 567 8901|456 78 9123|
|          4|      Bill|    Gomes|1500.0|  AUSTRALIA|+61 987 654 3210|789 12 6118|
|          6|     Harry|      Fox|1180.0|      India|+91 234 567 8901|456 78 9123|
|          7|    Ronald|   Junior|1750.0|  AUSTRALIA|+61 215 175 1631|444 33 2222|
|          8|     James|     King|2500.0|  AUSTRALIA|+61 382 998 1113|538 21 1987|
+-----------+----------+---------+------+-----------+----------------+-----------+

In [ ]:
// SQL Style utilisant l'operateur IN
employeesDF.filter("nationality in ('AUSTRALIA','India') ").show

In [ ]:
// DataFrame Style utilisant l'operateur IN
employeesDF.filter($"nationality" isin ("AUSTRALIA","India") ).show

* Liste des employés dont l'indicatif du numéro de téléphone est +44

In [24]:
// SQL Style
employeesDF.filter("phone_number like '+44%' ").show

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [25]:
// DataFrame Style
employeesDF.filter($"phone_number" like "+44%" ).show

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
+-----------+----------+---------+------+--------------+----------------+-----------+

* Liste des employés dont le salaire est entre 1000 et 2000

In [ ]:
// SQL Style
employeesDF.filter("salary between '1000' and '2000' ").show

In [ ]:
// DataFrame Style
employeesDF.filter($"salary" between ("1000","2000")).show

## Application

* Lire dans un DF le contenu du fichier `flightmonth=200801` au format `parquet` 
* Selectionner seulement les colonnes `Year`, `Month`, `DayOfMonth`, `DepDelay`, `ArrDelay`, `UniqueCarrier`, `FlightNum`, `IsArrDelayed` et `IsDepDelayed`
* Obtenez le nombre de vols dont le départ est tardif au point d'origine et qui arrivent à destination en avance ou à l'heure.
* Obtenez le nombre de vols dont le départ de l'origine est en retard de plus de 60 minutes.
* Obtenez le nombre de vols qui partent en avance ou à l'heure mais qui arrivent en retard d'au moins 15 minutes.
* Obtenez le nombre de vols au départ des grands aéroports suivants : ORD, DFW, ATL, LAX, SFO.
* Obtenez le nombre de vols dont le départ a été tardif entre le 1er janvier 2008 et le 9 janvier 2008 en utilisant `FlightDate`.
    * La date doit être au format `yyyyMMdd` .
    * Ajouter une colonne FlightDate en utilisant l'année, le mois et le jour du mois. Le format doit être `yyyyMMdd` .

In [2]:
val airlines_all = spark.read.parquet("./files/flightmonth=200801/")

airlines_all = [Year: int, Month: int ... 29 more fields]

[Year: int, Month: int ... 29 more fields]

In [3]:
airlines_all.printSchema

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: integer (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)
 |-- IsArrDelayed: string (nullable = true)
 |-- IsDepDelayed: string (nullable = true)

In [4]:
val airlines = airlines_all.select("Year", "Month", "DayOfMonth", "DepDelay",
              "ArrDelay", "UniqueCarrier", "FlightNum",
              "IsArrDelayed", "IsDepDelayed")

airlines = [Year: int, Month: int ... 7 more fields]

[Year: int, Month: int ... 7 more fields]

In [5]:
airlines.printSchema

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayOfMonth: integer (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- IsArrDelayed: string (nullable = true)
 |-- IsDepDelayed: string (nullable = true)

In [6]:
airlines.show

+----+-----+----------+--------+--------+-------------+---------+------------+------------+
|Year|Month|DayOfMonth|DepDelay|ArrDelay|UniqueCarrier|FlightNum|IsArrDelayed|IsDepDelayed|
+----+-----+----------+--------+--------+-------------+---------+------------+------------+
|2008|    1|        16|      -3|      -6|           WN|      709|          NO|          NO|
|2008|    1|        16|       1|     -34|           WN|     3146|          NO|         YES|
|2008|    1|        16|       6|      -2|           WN|     1854|          NO|         YES|
|2008|    1|        16|      -2|       0|           WN|     1767|          NO|          NO|
|2008|    1|        16|      -2|     -30|           WN|     1417|          NO|          NO|
|2008|    1|        16|      -3|      -8|           WN|      495|          NO|          NO|
|2008|    1|        16|       0|     -14|           WN|     1210|          NO|          NO|
|2008|    1|        16|       4|      -3|           WN|     3394|          NO|         YES|
|2008|    1|        16|      -3|     -13|           WN|     1758|          NO|          NO|
|2008|    1|        17|      31|      32|           WN|      209|         YES|         YES|
|2008|    1|        17|      58|      50|           WN|     1250|         YES|         YES|
|2008|    1|        17|       2|      -8|           WN|       15|          NO|         YES|
|2008|    1|        17|      -2|       4|           WN|     1114|         YES|          NO|
|2008|    1|        17|      -3|      -9|           WN|      791|          NO|          NO|
|2008|    1|        17|       0|      -5|           WN|      441|          NO|          NO|
|2008|    1|        17|       8|      -7|           WN|     1433|          NO|         YES|
|2008|    1|        17|       8|      -5|           WN|     3397|          NO|         YES|
|2008|    1|        17|       1|       8|           WN|     3918|         YES|         YES|
|2008|    1|        17|       4|       1|           WN|     1196|         YES|         YES|
|2008|    1|        17|      -5|       4|           WN|     3586|         YES|          NO|
+----+-----+----------+--------+--------+-------------+---------+------------+------------+
only showing top 20 rows

* Obtenez le nombre de vols dont le départ est tardif au point d'origine et qui arrivent à destination en avance ou à l'heure.

In [16]:
airlines.
    filter("IsDepDelayed = 'YES' AND IsArrDelayed = 'NO'").
    count

54233

In [10]:
import org.apache.spark.sql.functions._

In [18]:
airlines.
    filter(col("IsDepDelayed") === "YES" and col("IsArrDelayed") === "NO").
    count

54233

In [19]:
airlines.
    filter($"IsDepDelayed" === "YES" and $"IsArrDelayed" === "NO").
    count

54233

In [20]:
airlines.
    filter(airlines("IsDepDelayed") === "YES" and airlines("IsArrDelayed") === "NO").
    count

54233

* Obtenez le nombre de vols dont le départ de l'origine est en retard de plus de 60 minutes.

In [21]:
airlines.
    filter($"DepDelay" > 60).
    count

40104

In [22]:
airlines.
    filter("DepDelay > 60").
    count

40104

* Obtenez le nombre de vols qui partent en avance ou à l'heure mais qui arrivent en retard d'au moins 15 minutes.

In [22]:
airlines.
    filter($"IsDepDelayed" === "NO" and $"ArrDelay" >= 15).
    count

20705

In [24]:
airlines.
    filter($"IsDepDelayed" === "NO" and $"ArrDelay" >= 15).
    count

20705

* Obtenez le nombre de vols au départ des grands aéroports suivants : ORD, DFW, ATL, LAX, SFO.

In [11]:
airlines_all.
    filter("Origin IN ('ORD', 'DFW', 'ATL', 'LAX', 'SFO')").
    select("Origin").
    distinct.
    show

+------+
|Origin|
+------+
|   DFW|
|   SFO|
|   ATL|
|   ORD|
|   LAX|
+------+

In [12]:
airlines_all.
    filter("Origin IN ('ORD', 'DFW', 'ATL', 'LAX', 'SFO')").
    count

118212

In [13]:
airlines_all.
    filter(col("Origin") isin ("ORD", "DFW", "ATL", "LAX", "SFO")).
    count

118212

In [14]:
airlines_all.
    filter($"Origin" isin ("ORD", "DFW", "ATL", "LAX", "SFO")).
    count

118212

In [15]:
airlines_all.
    filter(airlines_all("Origin") isin ("ORD", "DFW", "ATL", "LAX", "SFO")).
    count

118212

* Obtenez le nombre de vols dont le départ a été tardif entre le 1er janvier 2008 et le 9 janvier 2008 en utilisant `FlightDate`.
    * La date doit être au format `yyyyMMdd` .
    * Ajouter une colonne FlightDate en utilisant l'année, le mois et le jour du mois. Le format doit être `yyyyMMdd` .

In [16]:
airlines.
    withColumn("FlightDate", 
               concat(col("Year"), 
                      lpad(col("Month"), 2, "0"), 
                      lpad(col("DayOfMOnth"), 2, "0")
                     )
              ).
    show

+----+-----+----------+--------+--------+-------------+---------+------------+------------+----------+
|Year|Month|DayOfMonth|DepDelay|ArrDelay|UniqueCarrier|FlightNum|IsArrDelayed|IsDepDelayed|FlightDate|
+----+-----+----------+--------+--------+-------------+---------+------------+------------+----------+
|2008|    1|        16|      -3|      -6|           WN|      709|          NO|          NO|  20080116|
|2008|    1|        16|       1|     -34|           WN|     3146|          NO|         YES|  20080116|
|2008|    1|        16|       6|      -2|           WN|     1854|          NO|         YES|  20080116|
|2008|    1|        16|      -2|       0|           WN|     1767|          NO|          NO|  20080116|
|2008|    1|        16|      -2|     -30|           WN|     1417|          NO|          NO|  20080116|
|2008|    1|        16|      -3|      -8|           WN|      495|          NO|          NO|  20080116|
|2008|    1|        16|       0|     -14|           WN|     1210|          NO|          NO|  20080116|
|2008|    1|        16|       4|      -3|           WN|     3394|          NO|         YES|  20080116|
|2008|    1|        16|      -3|     -13|           WN|     1758|          NO|          NO|  20080116|
|2008|    1|        17|      31|      32|           WN|      209|         YES|         YES|  20080117|
|2008|    1|        17|      58|      50|           WN|     1250|         YES|         YES|  20080117|
|2008|    1|        17|       2|      -8|           WN|       15|          NO|         YES|  20080117|
|2008|    1|        17|      -2|       4|           WN|     1114|         YES|          NO|  20080117|
|2008|    1|        17|      -3|      -9|           WN|      791|          NO|          NO|  20080117|
|2008|    1|        17|       0|      -5|           WN|      441|          NO|          NO|  20080117|
|2008|    1|        17|       8|      -7|           WN|     1433|          NO|         YES|  20080117|
|2008|    1|        17|       8|      -5|           WN|     3397|          NO|         YES|  20080117|
|2008|    1|        17|       1|       8|           WN|     3918|         YES|         YES|  20080117|
|2008|    1|        17|       4|       1|           WN|     1196|         YES|         YES|  20080117|
|2008|    1|        17|      -5|       4|           WN|     3586|         YES|          NO|  20080117|
+----+-----+----------+--------+--------+-------------+---------+------------+------------+----------+
only showing top 20 rows

In [17]:
airlines.
    withColumn("FlightDate", 
               concat(col("Year"), 
                      lpad(col("Month"), 2, "0"), 
                      lpad(col("DayOfMOnth"), 2, "0")
                     )
              ).
    filter("FlightDate LIKE '2008010%' AND IsDepDelayed = 'YES'").
    count

91045

In [18]:
airlines.
    withColumn("FlightDate", 
               concat(col("Year"), 
                      lpad(col("Month"), 2, "0"), 
                      lpad(col("DayOfMOnth"), 2, "0")
                     )
              ).
    filter("FlightDate BETWEEN '20080101' AND '20080109' AND IsDepDelayed = 'YES'").
    count

91045

In [19]:
airlines.
    withColumn("FlightDate", 
               concat(col("Year"), 
                      lpad(col("Month"), 2, "0"), 
                      lpad(col("DayOfMOnth"), 2, "0")
                     )
              ).
    filter($"FlightDate" like "2008010%" and $"IsDepDelayed" === "YES").
    count

91045

In [20]:
airlines.
    withColumn("FlightDate", 
               concat(col("Year"), 
                      lpad(col("Month"), 2, "0"), 
                      lpad(col("DayOfMOnth"), 2, "0")
                     )
              ).
    filter($"FlightDate" between ("20080101", "20080109") and $"IsDepDelayed" === "YES").
    count

91045